/**
Border Utilities
 */

.border {
  border: 1px solid;
}

.border-0 {
  border: 0;
}

.border-radius {
  border-radius: 10px;
}

@each $direction in (top, right, bottom, left) {
  .border-#{$direction} {
    border-#{$direction}: 1px solid;
  }

  .border-#{$direction}-0 {
    border-#{$direction}: 0;
  }
}
